.section-velar {
  background-image: url('../../assets/images/velar.png');
}

.section-evoque {
  background-image: url('../../assets//images/evoque.png');
}

.section-sport {
  background-image: url('../../assets/images/sport.png');
}

.section-discovery {
  background-image: url('../../assets/images/discovery.png');
}
